@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);








body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Lato', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Lato', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Arimo', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Arimo', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Arimo', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #ed2511 !important;
}
.bg-success {
  background-color: #41a85f !important;
}
.bg-info {
  background-color: #3d8eb9 !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #e25041 !important;
}
.btn-primary {
  background-color: #ed2511;
  border-color: #ed2511;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a61a0c;
  border-color: #a61a0c;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a61a0c !important;
  border-color: #a61a0c !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #3d8eb9;
  border-color: #3d8eb9;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #2a627f;
  border-color: #2a627f;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #2a627f !important;
  border-color: #2a627f !important;
}
.btn-success {
  background-color: #41a85f;
  border-color: #41a85f;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #2c7140;
  border-color: #2c7140;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2c7140 !important;
  border-color: #2c7140 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #e25041;
  border-color: #e25041;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #ba2b1c;
  border-color: #ba2b1c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ba2b1c !important;
  border-color: #ba2b1c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e160a;
  color: #8e160a;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #ed2511;
  border-color: #ed2511;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ed2511 !important;
  border-color: #ed2511 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #24536c;
  color: #24536c;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #3d8eb9;
  border-color: #3d8eb9;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #3d8eb9 !important;
  border-color: #3d8eb9 !important;
}
.btn-success-outline {
  background: none;
  border-color: #255e35;
  color: #255e35;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #41a85f;
  border-color: #41a85f;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #41a85f !important;
  border-color: #41a85f !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #a42619;
  color: #a42619;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #e25041;
  border-color: #e25041;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #e25041 !important;
  border-color: #e25041 !important;
}
.text-primary {
  color: #ed2511 !important;
}
.text-success {
  color: #41a85f !important;
}
.text-info {
  color: #3d8eb9 !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #e25041 !important;
}
.alert-success {
  background-color: #41a85f;
}
.alert-info {
  background-color: #3d8eb9;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #e25041;
}
.btn-social {
  border-color: #ed2511;
}
.btn-social:hover {
  background: #ed2511;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #ed2511;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #ed2511;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #ed2511;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #ed2511;
}
.lead a,
.lead a:hover {
  color: #ed2511;
}
.lead blockquote {
  border-color: #ed2511;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fcd3ce;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #93d5a6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #98c5dd;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fdf3f2;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #ed2511;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#slider-78 H2 {
  color: #fac51c;
  font-size: 30px;
}
#slider-78 P {
  color: #3d8eb9;
}
#ext_menu-w .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-w .navbar-caption {
  color: #ffffff;
  font-size: 20px;
}
#ext_menu-w .navbar-toggler {
  color: #ffffff;
}
#ext_menu-w .close-icon::before,
#ext_menu-w .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-w .link,
#ext_menu-w .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-w .link {
  font-size: 1.1rem;
}
#ext_menu-w .dropdown-item,
#ext_menu-w .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#ext_menu-w .link:hover,
#ext_menu-w .dropdown-item:hover,
#ext_menu-w .link:focus,
#ext_menu-w .dropdown-item:focus {
  color: #ed2511;
}
#ext_menu-w .link[aria-expanded="true"],
#ext_menu-w .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-w .nav-dropdown-sm .link:focus,
#ext_menu-w .nav-dropdown-sm .link:hover,
#ext_menu-w .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-w .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-w .navbar,
#ext_menu-w .nav-dropdown-sm,
#ext_menu-w .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-w .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-w .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-w .bg-color.transparent.opened .link:hover,
#ext_menu-w .bg-color.transparent.opened .link:focus {
  color: #ed2511;
}
#ext_menu-w .link[aria-expanded="true"],
#ext_menu-w .dropdown-item[aria-expanded="true"] {
  color: #ed2511!important;
}
#ext_menu-w.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-w .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-w .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-6s .mbr-section-title,
#header3-6s .mbr-section-subtitle {
  text-align: center;
}
#header3-6s SMALL {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #ffffff;
  text-align: right;
}
#header3-6s H3 {
  color: #fff500;
  font-size: 36px;
}
#header3-6s B {
  font-size: 19px;
}
#header3-6u .mbr-section-title,
#header3-6u .mbr-section-subtitle {
  text-align: center;
}
#header3-6u H3 {
  font-size: 25px;
  color: #75c5f0;
  font-family: 'Ubuntu', sans-serif;
}
#buttons1-7b .btn {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
#buttons1-7b SPAN {
  font-size: 21px;
  font-family: 'Montserrat', sans-serif;
}
#header3-3p .mbr-section-title,
#header3-3p .mbr-section-subtitle {
  text-align: center;
}
#header3-3p H3 {
  font-size: 36px;
  color: #e25041;
}
#header3-3p B {
  text-align: right;
  font-size: 22px;
  color: #2969b0;
}
#content5-54 .mbr-section-title,
#content5-54 p {
  color: #fff;
}
#content5-54 .mbr-section-title I {
  color: #e25041;
  text-align: left;
  font-size: 25px;
}
#ext_menu-55 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-55 .navbar-caption {
  color: #ffffff;
}
#ext_menu-55 .navbar-toggler {
  color: #41a85f;
}
#ext_menu-55 .close-icon::before,
#ext_menu-55 .close-icon::after {
  background-color: #41a85f;
}
#ext_menu-55 .link,
#ext_menu-55 .dropdown-item {
  color: #41a85f;
}
#ext_menu-55 .link {
  font-size: 1.1rem;
}
#ext_menu-55 .dropdown-item,
#ext_menu-55 .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#ext_menu-55 .link:hover,
#ext_menu-55 .dropdown-item:hover,
#ext_menu-55 .link:focus,
#ext_menu-55 .dropdown-item:focus {
  color: #ed2511;
}
#ext_menu-55 .link[aria-expanded="true"],
#ext_menu-55 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-55 .nav-dropdown-sm .link:focus,
#ext_menu-55 .nav-dropdown-sm .link:hover,
#ext_menu-55 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-55 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-55 .navbar,
#ext_menu-55 .nav-dropdown-sm,
#ext_menu-55 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-55 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-55 .bg-color.transparent .link {
  color: #41a85f;
  transition: none;
}
#ext_menu-55 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-55 .bg-color.transparent.opened .link:hover,
#ext_menu-55 .bg-color.transparent.opened .link:focus {
  color: #ed2511;
}
#ext_menu-55 .link[aria-expanded="true"],
#ext_menu-55 .dropdown-item[aria-expanded="true"] {
  color: #ed2511!important;
}
#footer1-56 P {
  color: #ffffff;
}
#features3-57 P {
  text-align: right;
}
#features3-58 P {
  text-align: right;
}
#ext_menu-5l .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-5l .navbar-caption {
  color: #ffffff;
}
#ext_menu-5l .navbar-toggler {
  color: #41a85f;
}
#ext_menu-5l .close-icon::before,
#ext_menu-5l .close-icon::after {
  background-color: #41a85f;
}
#ext_menu-5l .link,
#ext_menu-5l .dropdown-item {
  color: #41a85f;
}
#ext_menu-5l .link {
  font-size: 1.2rem;
}
#ext_menu-5l .dropdown-item,
#ext_menu-5l .nav-dropdown-sm .link {
  font-size: 1.300rem;
}
#ext_menu-5l .link:hover,
#ext_menu-5l .dropdown-item:hover,
#ext_menu-5l .link:focus,
#ext_menu-5l .dropdown-item:focus {
  color: #ed2511;
}
#ext_menu-5l .link[aria-expanded="true"],
#ext_menu-5l .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-5l .nav-dropdown-sm .link:focus,
#ext_menu-5l .nav-dropdown-sm .link:hover,
#ext_menu-5l .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-5l .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-5l .navbar,
#ext_menu-5l .nav-dropdown-sm,
#ext_menu-5l .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-5l .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-5l .bg-color.transparent .link {
  color: #41a85f;
  transition: none;
}
#ext_menu-5l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-5l .bg-color.transparent.opened .link:hover,
#ext_menu-5l .bg-color.transparent.opened .link:focus {
  color: #ed2511;
}
#ext_menu-5l .link[aria-expanded="true"],
#ext_menu-5l .dropdown-item[aria-expanded="true"] {
  color: #ed2511!important;
}
#header3-5m .mbr-section-title,
#header3-5m .mbr-section-subtitle {
  text-align: center;
}
#header3-5m H3 {
  color: #41a85f;
  text-align: right;
}
#footer1-5r P {
  color: #ffffff;
}
#ext_menu-43 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-43 .navbar-caption {
  color: #ffffff;
}
#ext_menu-43 .navbar-toggler {
  color: #41a85f;
}
#ext_menu-43 .close-icon::before,
#ext_menu-43 .close-icon::after {
  background-color: #41a85f;
}
#ext_menu-43 .link,
#ext_menu-43 .dropdown-item {
  color: #41a85f;
}
#ext_menu-43 .link {
  font-size: 1.2rem;
}
#ext_menu-43 .dropdown-item,
#ext_menu-43 .nav-dropdown-sm .link {
  font-size: 1.300rem;
}
#ext_menu-43 .link:hover,
#ext_menu-43 .dropdown-item:hover,
#ext_menu-43 .link:focus,
#ext_menu-43 .dropdown-item:focus {
  color: #ed2511;
}
#ext_menu-43 .link[aria-expanded="true"],
#ext_menu-43 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-43 .nav-dropdown-sm .link:focus,
#ext_menu-43 .nav-dropdown-sm .link:hover,
#ext_menu-43 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-43 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-43 .navbar,
#ext_menu-43 .nav-dropdown-sm,
#ext_menu-43 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-43 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-43 .bg-color.transparent .link {
  color: #41a85f;
  transition: none;
}
#ext_menu-43 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-43 .bg-color.transparent.opened .link:hover,
#ext_menu-43 .bg-color.transparent.opened .link:focus {
  color: #ed2511;
}
#ext_menu-43 .link[aria-expanded="true"],
#ext_menu-43 .dropdown-item[aria-expanded="true"] {
  color: #ed2511!important;
}
#header3-5k .mbr-section-title,
#header3-5k .mbr-section-subtitle {
  text-align: center;
}
#header3-5k H3 {
  color: #2969b0;
  text-align: right;
}
#footer1-48 P {
  color: #ffffff;
}
#ext_menu-5s .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-5s .navbar-caption {
  color: #ffffff;
}
#ext_menu-5s .navbar-toggler {
  color: #41a85f;
}
#ext_menu-5s .close-icon::before,
#ext_menu-5s .close-icon::after {
  background-color: #41a85f;
}
#ext_menu-5s .link,
#ext_menu-5s .dropdown-item {
  color: #41a85f;
}
#ext_menu-5s .link {
  font-size: 1.2rem;
}
#ext_menu-5s .dropdown-item,
#ext_menu-5s .nav-dropdown-sm .link {
  font-size: 1.300rem;
}
#ext_menu-5s .link:hover,
#ext_menu-5s .dropdown-item:hover,
#ext_menu-5s .link:focus,
#ext_menu-5s .dropdown-item:focus {
  color: #ed2511;
}
#ext_menu-5s .link[aria-expanded="true"],
#ext_menu-5s .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-5s .nav-dropdown-sm .link:focus,
#ext_menu-5s .nav-dropdown-sm .link:hover,
#ext_menu-5s .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-5s .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-5s .navbar,
#ext_menu-5s .nav-dropdown-sm,
#ext_menu-5s .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-5s .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-5s .bg-color.transparent .link {
  color: #41a85f;
  transition: none;
}
#ext_menu-5s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-5s .bg-color.transparent.opened .link:hover,
#ext_menu-5s .bg-color.transparent.opened .link:focus {
  color: #ed2511;
}
#ext_menu-5s .link[aria-expanded="true"],
#ext_menu-5s .dropdown-item[aria-expanded="true"] {
  color: #faaf40!important;
}
#header3-5t .mbr-section-title,
#header3-5t .mbr-section-subtitle {
  text-align: center;
}
#header3-5t H3 {
  color: #b8312f;
  text-align: right;
}
#footer1-5y P {
  color: #ffffff;
}
#content5-7h .mbr-section-title,
#content5-7h p {
  color: #fff;
}
#content5-7h .mbr-section-title {
  text-align: center;
  color: #fac51c;
}
#ext_menu-7i .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-7i .navbar-caption {
  color: #ffffff;
}
#ext_menu-7i .navbar-toggler {
  color: #41a85f;
}
#ext_menu-7i .close-icon::before,
#ext_menu-7i .close-icon::after {
  background-color: #41a85f;
}
#ext_menu-7i .link,
#ext_menu-7i .dropdown-item {
  color: #41a85f;
}
#ext_menu-7i .link {
  font-size: 1.1rem;
}
#ext_menu-7i .dropdown-item,
#ext_menu-7i .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#ext_menu-7i .link:hover,
#ext_menu-7i .dropdown-item:hover,
#ext_menu-7i .link:focus,
#ext_menu-7i .dropdown-item:focus {
  color: #ed2511;
}
#ext_menu-7i .link[aria-expanded="true"],
#ext_menu-7i .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-7i .nav-dropdown-sm .link:focus,
#ext_menu-7i .nav-dropdown-sm .link:hover,
#ext_menu-7i .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-7i .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-7i .navbar,
#ext_menu-7i .nav-dropdown-sm,
#ext_menu-7i .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-7i .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-7i .bg-color.transparent .link {
  color: #41a85f;
  transition: none;
}
#ext_menu-7i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-7i .bg-color.transparent.opened .link:hover,
#ext_menu-7i .bg-color.transparent.opened .link:focus {
  color: #ed2511;
}
#ext_menu-7i .link[aria-expanded="true"],
#ext_menu-7i .dropdown-item[aria-expanded="true"] {
  color: #ed2511!important;
}
#content5-7p .mbr-section-title,
#content5-7p p {
  color: #fff;
}
#content5-7p .mbr-section-title I {
  color: #f3c649;
  text-align: left;
  font-size: 25px;
}
#ext_menu-7q .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-7q .navbar-caption {
  color: #ffffff;
}
#ext_menu-7q .navbar-toggler {
  color: #41a85f;
}
#ext_menu-7q .close-icon::before,
#ext_menu-7q .close-icon::after {
  background-color: #41a85f;
}
#ext_menu-7q .link,
#ext_menu-7q .dropdown-item {
  color: #41a85f;
}
#ext_menu-7q .link {
  font-size: 1.1rem;
}
#ext_menu-7q .dropdown-item,
#ext_menu-7q .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#ext_menu-7q .link:hover,
#ext_menu-7q .dropdown-item:hover,
#ext_menu-7q .link:focus,
#ext_menu-7q .dropdown-item:focus {
  color: #ed2511;
}
#ext_menu-7q .link[aria-expanded="true"],
#ext_menu-7q .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-7q .nav-dropdown-sm .link:focus,
#ext_menu-7q .nav-dropdown-sm .link:hover,
#ext_menu-7q .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-7q .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-7q .navbar,
#ext_menu-7q .nav-dropdown-sm,
#ext_menu-7q .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-7q .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-7q .bg-color.transparent .link {
  color: #41a85f;
  transition: none;
}
#ext_menu-7q .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-7q .bg-color.transparent.opened .link:hover,
#ext_menu-7q .bg-color.transparent.opened .link:focus {
  color: #ed2511;
}
#ext_menu-7q .link[aria-expanded="true"],
#ext_menu-7q .dropdown-item[aria-expanded="true"] {
  color: #ed2511!important;
}
#footer1-7r P {
  color: #ffffff;
}
#features3-7u P {
  text-align: right;
}
#content5-7w .mbr-section-title,
#content5-7w p {
  color: #fff;
}
#content5-7w .mbr-section-title I {
  color: #41a85f;
  text-align: left;
  font-size: 25px;
}
#ext_menu-7x .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-7x .navbar-caption {
  color: #ffffff;
}
#ext_menu-7x .navbar-toggler {
  color: #41a85f;
}
#ext_menu-7x .close-icon::before,
#ext_menu-7x .close-icon::after {
  background-color: #41a85f;
}
#ext_menu-7x .link,
#ext_menu-7x .dropdown-item {
  color: #41a85f;
}
#ext_menu-7x .link {
  font-size: 1.1rem;
}
#ext_menu-7x .dropdown-item,
#ext_menu-7x .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#ext_menu-7x .link:hover,
#ext_menu-7x .dropdown-item:hover,
#ext_menu-7x .link:focus,
#ext_menu-7x .dropdown-item:focus {
  color: #ed2511;
}
#ext_menu-7x .link[aria-expanded="true"],
#ext_menu-7x .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-7x .nav-dropdown-sm .link:focus,
#ext_menu-7x .nav-dropdown-sm .link:hover,
#ext_menu-7x .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-7x .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-7x .navbar,
#ext_menu-7x .nav-dropdown-sm,
#ext_menu-7x .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-7x .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-7x .bg-color.transparent .link {
  color: #41a85f;
  transition: none;
}
#ext_menu-7x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-7x .bg-color.transparent.opened .link:hover,
#ext_menu-7x .bg-color.transparent.opened .link:focus {
  color: #ed2511;
}
#ext_menu-7x .link[aria-expanded="true"],
#ext_menu-7x .dropdown-item[aria-expanded="true"] {
  color: #ed2511!important;
}
#footer1-7y P {
  color: #ffffff;
}
#content5-81 .mbr-section-title,
#content5-81 p {
  color: #fff;
}
#content5-81 .mbr-section-title I {
  color: #faaf40;
  text-align: left;
  font-size: 25px;
}
#ext_menu-82 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-82 .navbar-caption {
  color: #ffffff;
}
#ext_menu-82 .navbar-toggler {
  color: #41a85f;
}
#ext_menu-82 .close-icon::before,
#ext_menu-82 .close-icon::after {
  background-color: #41a85f;
}
#ext_menu-82 .link,
#ext_menu-82 .dropdown-item {
  color: #41a85f;
}
#ext_menu-82 .link {
  font-size: 1.1rem;
}
#ext_menu-82 .dropdown-item,
#ext_menu-82 .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#ext_menu-82 .link:hover,
#ext_menu-82 .dropdown-item:hover,
#ext_menu-82 .link:focus,
#ext_menu-82 .dropdown-item:focus {
  color: #ed2511;
}
#ext_menu-82 .link[aria-expanded="true"],
#ext_menu-82 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-82 .nav-dropdown-sm .link:focus,
#ext_menu-82 .nav-dropdown-sm .link:hover,
#ext_menu-82 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-82 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-82 .navbar,
#ext_menu-82 .nav-dropdown-sm,
#ext_menu-82 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-82 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-82 .bg-color.transparent .link {
  color: #41a85f;
  transition: none;
}
#ext_menu-82 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-82 .bg-color.transparent.opened .link:hover,
#ext_menu-82 .bg-color.transparent.opened .link:focus {
  color: #ed2511;
}
#ext_menu-82 .link[aria-expanded="true"],
#ext_menu-82 .dropdown-item[aria-expanded="true"] {
  color: #ed2511!important;
}
#footer1-83 P {
  color: #ffffff;
}
#content5-88 .mbr-section-title,
#content5-88 p {
  color: #fff;
}
#content5-88 .mbr-section-title I {
  color: #faaf40;
  text-align: left;
  font-size: 25px;
}
#content5-88 .mbr-section-title SPAN {
  color: #2b0680;
}
#ext_menu-89 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-89 .navbar-caption {
  color: #ffffff;
}
#ext_menu-89 .navbar-toggler {
  color: #41a85f;
}
#ext_menu-89 .close-icon::before,
#ext_menu-89 .close-icon::after {
  background-color: #41a85f;
}
#ext_menu-89 .link,
#ext_menu-89 .dropdown-item {
  color: #41a85f;
}
#ext_menu-89 .link {
  font-size: 1.1rem;
}
#ext_menu-89 .dropdown-item,
#ext_menu-89 .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#ext_menu-89 .link:hover,
#ext_menu-89 .dropdown-item:hover,
#ext_menu-89 .link:focus,
#ext_menu-89 .dropdown-item:focus {
  color: #ed2511;
}
#ext_menu-89 .link[aria-expanded="true"],
#ext_menu-89 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-89 .nav-dropdown-sm .link:focus,
#ext_menu-89 .nav-dropdown-sm .link:hover,
#ext_menu-89 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-89 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-89 .navbar,
#ext_menu-89 .nav-dropdown-sm,
#ext_menu-89 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-89 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-89 .bg-color.transparent .link {
  color: #41a85f;
  transition: none;
}
#ext_menu-89 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-89 .bg-color.transparent.opened .link:hover,
#ext_menu-89 .bg-color.transparent.opened .link:focus {
  color: #ed2511;
}
#ext_menu-89 .link[aria-expanded="true"],
#ext_menu-89 .dropdown-item[aria-expanded="true"] {
  color: #ed2511!important;
}
#footer1-8a P {
  color: #ffffff;
}
#content5-8d .mbr-section-title,
#content5-8d p {
  color: #fff;
}
#content5-8d .mbr-section-title I {
  color: #faaf40;
  text-align: left;
  font-size: 25px;
}
#content5-8d .mbr-section-title SPAN {
  color: #2b0680;
}
#ext_menu-8e .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-8e .navbar-caption {
  color: #ffffff;
}
#ext_menu-8e .navbar-toggler {
  color: #41a85f;
}
#ext_menu-8e .close-icon::before,
#ext_menu-8e .close-icon::after {
  background-color: #41a85f;
}
#ext_menu-8e .link,
#ext_menu-8e .dropdown-item {
  color: #41a85f;
}
#ext_menu-8e .link {
  font-size: 1.1rem;
}
#ext_menu-8e .dropdown-item,
#ext_menu-8e .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#ext_menu-8e .link:hover,
#ext_menu-8e .dropdown-item:hover,
#ext_menu-8e .link:focus,
#ext_menu-8e .dropdown-item:focus {
  color: #ed2511;
}
#ext_menu-8e .link[aria-expanded="true"],
#ext_menu-8e .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-8e .nav-dropdown-sm .link:focus,
#ext_menu-8e .nav-dropdown-sm .link:hover,
#ext_menu-8e .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-8e .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-8e .navbar,
#ext_menu-8e .nav-dropdown-sm,
#ext_menu-8e .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-8e .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-8e .bg-color.transparent .link {
  color: #41a85f;
  transition: none;
}
#ext_menu-8e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-8e .bg-color.transparent.opened .link:hover,
#ext_menu-8e .bg-color.transparent.opened .link:focus {
  color: #ed2511;
}
#ext_menu-8e .link[aria-expanded="true"],
#ext_menu-8e .dropdown-item[aria-expanded="true"] {
  color: #ed2511!important;
}
#footer1-8f P {
  color: #ffffff;
}
#content5-8i .mbr-section-title,
#content5-8i p {
  color: #fff;
}
#content5-8i .mbr-section-title I {
  color: #faaf40;
  text-align: left;
  font-size: 25px;
}
#content5-8i .mbr-section-title SPAN {
  color: #2b0680;
}
#ext_menu-8j .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-8j .navbar-caption {
  color: #ffffff;
}
#ext_menu-8j .navbar-toggler {
  color: #41a85f;
}
#ext_menu-8j .close-icon::before,
#ext_menu-8j .close-icon::after {
  background-color: #41a85f;
}
#ext_menu-8j .link,
#ext_menu-8j .dropdown-item {
  color: #41a85f;
}
#ext_menu-8j .link {
  font-size: 1.1rem;
}
#ext_menu-8j .dropdown-item,
#ext_menu-8j .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#ext_menu-8j .link:hover,
#ext_menu-8j .dropdown-item:hover,
#ext_menu-8j .link:focus,
#ext_menu-8j .dropdown-item:focus {
  color: #ed2511;
}
#ext_menu-8j .link[aria-expanded="true"],
#ext_menu-8j .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-8j .nav-dropdown-sm .link:focus,
#ext_menu-8j .nav-dropdown-sm .link:hover,
#ext_menu-8j .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-8j .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-8j .navbar,
#ext_menu-8j .nav-dropdown-sm,
#ext_menu-8j .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-8j .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-8j .bg-color.transparent .link {
  color: #41a85f;
  transition: none;
}
#ext_menu-8j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-8j .bg-color.transparent.opened .link:hover,
#ext_menu-8j .bg-color.transparent.opened .link:focus {
  color: #ed2511;
}
#ext_menu-8j .link[aria-expanded="true"],
#ext_menu-8j .dropdown-item[aria-expanded="true"] {
  color: #ed2511!important;
}
#footer1-8k P {
  color: #ffffff;
}
#content5-8n .mbr-section-title,
#content5-8n p {
  color: #fff;
}
#content5-8n .mbr-section-title I {
  color: #faaf40;
  text-align: left;
  font-size: 25px;
}
#content5-8n .mbr-section-title SPAN {
  color: #e25041;
}
#ext_menu-8o .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-8o .navbar-caption {
  color: #ffffff;
}
#ext_menu-8o .navbar-toggler {
  color: #41a85f;
}
#ext_menu-8o .close-icon::before,
#ext_menu-8o .close-icon::after {
  background-color: #41a85f;
}
#ext_menu-8o .link,
#ext_menu-8o .dropdown-item {
  color: #41a85f;
}
#ext_menu-8o .link {
  font-size: 1.1rem;
}
#ext_menu-8o .dropdown-item,
#ext_menu-8o .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#ext_menu-8o .link:hover,
#ext_menu-8o .dropdown-item:hover,
#ext_menu-8o .link:focus,
#ext_menu-8o .dropdown-item:focus {
  color: #ed2511;
}
#ext_menu-8o .link[aria-expanded="true"],
#ext_menu-8o .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-8o .nav-dropdown-sm .link:focus,
#ext_menu-8o .nav-dropdown-sm .link:hover,
#ext_menu-8o .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-8o .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-8o .navbar,
#ext_menu-8o .nav-dropdown-sm,
#ext_menu-8o .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-8o .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-8o .bg-color.transparent .link {
  color: #41a85f;
  transition: none;
}
#ext_menu-8o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-8o .bg-color.transparent.opened .link:hover,
#ext_menu-8o .bg-color.transparent.opened .link:focus {
  color: #ed2511;
}
#ext_menu-8o .link[aria-expanded="true"],
#ext_menu-8o .dropdown-item[aria-expanded="true"] {
  color: #ed2511!important;
}
#footer1-8p P {
  color: #ffffff;
}
#content5-8t .mbr-section-title,
#content5-8t p {
  color: #fff;
}
#content5-8t .mbr-section-title I {
  color: #faaf40;
  text-align: left;
  font-size: 25px;
}
#content5-8t .mbr-section-title SPAN {
  color: #e25041;
}
#ext_menu-8u .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-8u .navbar-caption {
  color: #ffffff;
}
#ext_menu-8u .navbar-toggler {
  color: #41a85f;
}
#ext_menu-8u .close-icon::before,
#ext_menu-8u .close-icon::after {
  background-color: #41a85f;
}
#ext_menu-8u .link,
#ext_menu-8u .dropdown-item {
  color: #41a85f;
}
#ext_menu-8u .link {
  font-size: 1.1rem;
}
#ext_menu-8u .dropdown-item,
#ext_menu-8u .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#ext_menu-8u .link:hover,
#ext_menu-8u .dropdown-item:hover,
#ext_menu-8u .link:focus,
#ext_menu-8u .dropdown-item:focus {
  color: #ed2511;
}
#ext_menu-8u .link[aria-expanded="true"],
#ext_menu-8u .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-8u .nav-dropdown-sm .link:focus,
#ext_menu-8u .nav-dropdown-sm .link:hover,
#ext_menu-8u .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-8u .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-8u .navbar,
#ext_menu-8u .nav-dropdown-sm,
#ext_menu-8u .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-8u .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-8u .bg-color.transparent .link {
  color: #41a85f;
  transition: none;
}
#ext_menu-8u .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-8u .bg-color.transparent.opened .link:hover,
#ext_menu-8u .bg-color.transparent.opened .link:focus {
  color: #ed2511;
}
#ext_menu-8u .link[aria-expanded="true"],
#ext_menu-8u .dropdown-item[aria-expanded="true"] {
  color: #ed2511!important;
}
#footer1-8v P {
  color: #ffffff;
}
#content5-8x .mbr-section-title,
#content5-8x p {
  color: #fff;
}
#content5-8x .mbr-section-title I {
  color: #faaf40;
  text-align: left;
  font-size: 25px;
}
#content5-8x .mbr-section-title SPAN {
  color: #e25041;
}
#ext_menu-8y .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-8y .navbar-caption {
  color: #ffffff;
}
#ext_menu-8y .navbar-toggler {
  color: #41a85f;
}
#ext_menu-8y .close-icon::before,
#ext_menu-8y .close-icon::after {
  background-color: #41a85f;
}
#ext_menu-8y .link,
#ext_menu-8y .dropdown-item {
  color: #41a85f;
}
#ext_menu-8y .link {
  font-size: 1.1rem;
}
#ext_menu-8y .dropdown-item,
#ext_menu-8y .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#ext_menu-8y .link:hover,
#ext_menu-8y .dropdown-item:hover,
#ext_menu-8y .link:focus,
#ext_menu-8y .dropdown-item:focus {
  color: #ed2511;
}
#ext_menu-8y .link[aria-expanded="true"],
#ext_menu-8y .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-8y .nav-dropdown-sm .link:focus,
#ext_menu-8y .nav-dropdown-sm .link:hover,
#ext_menu-8y .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-8y .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-8y .navbar,
#ext_menu-8y .nav-dropdown-sm,
#ext_menu-8y .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-8y .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-8y .bg-color.transparent .link {
  color: #41a85f;
  transition: none;
}
#ext_menu-8y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-8y .bg-color.transparent.opened .link:hover,
#ext_menu-8y .bg-color.transparent.opened .link:focus {
  color: #ed2511;
}
#ext_menu-8y .link[aria-expanded="true"],
#ext_menu-8y .dropdown-item[aria-expanded="true"] {
  color: #ed2511!important;
}
#footer1-8z P {
  color: #ffffff;
}
#content5-92 .mbr-section-title,
#content5-92 p {
  color: #fff;
}
#content5-92 .mbr-section-title I {
  color: #faaf40;
  text-align: left;
  font-size: 25px;
}
#content5-92 .mbr-section-title SPAN {
  color: #e25041;
}
#ext_menu-93 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-93 .navbar-caption {
  color: #ffffff;
}
#ext_menu-93 .navbar-toggler {
  color: #41a85f;
}
#ext_menu-93 .close-icon::before,
#ext_menu-93 .close-icon::after {
  background-color: #41a85f;
}
#ext_menu-93 .link,
#ext_menu-93 .dropdown-item {
  color: #41a85f;
}
#ext_menu-93 .link {
  font-size: 1.1rem;
}
#ext_menu-93 .dropdown-item,
#ext_menu-93 .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#ext_menu-93 .link:hover,
#ext_menu-93 .dropdown-item:hover,
#ext_menu-93 .link:focus,
#ext_menu-93 .dropdown-item:focus {
  color: #ed2511;
}
#ext_menu-93 .link[aria-expanded="true"],
#ext_menu-93 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-93 .nav-dropdown-sm .link:focus,
#ext_menu-93 .nav-dropdown-sm .link:hover,
#ext_menu-93 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-93 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-93 .navbar,
#ext_menu-93 .nav-dropdown-sm,
#ext_menu-93 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-93 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-93 .bg-color.transparent .link {
  color: #41a85f;
  transition: none;
}
#ext_menu-93 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-93 .bg-color.transparent.opened .link:hover,
#ext_menu-93 .bg-color.transparent.opened .link:focus {
  color: #ed2511;
}
#ext_menu-93 .link[aria-expanded="true"],
#ext_menu-93 .dropdown-item[aria-expanded="true"] {
  color: #ed2511!important;
}
#footer1-94 P {
  color: #ffffff;
}
#content5-97 .mbr-section-title,
#content5-97 p {
  color: #fff;
}
#content5-97 .mbr-section-title I {
  color: #faaf40;
  text-align: left;
  font-size: 25px;
}
#content5-97 .mbr-section-title SPAN {
  color: #e25041;
}
#ext_menu-98 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-98 .navbar-caption {
  color: #ffffff;
}
#ext_menu-98 .navbar-toggler {
  color: #41a85f;
}
#ext_menu-98 .close-icon::before,
#ext_menu-98 .close-icon::after {
  background-color: #41a85f;
}
#ext_menu-98 .link,
#ext_menu-98 .dropdown-item {
  color: #41a85f;
}
#ext_menu-98 .link {
  font-size: 1.1rem;
}
#ext_menu-98 .dropdown-item,
#ext_menu-98 .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#ext_menu-98 .link:hover,
#ext_menu-98 .dropdown-item:hover,
#ext_menu-98 .link:focus,
#ext_menu-98 .dropdown-item:focus {
  color: #ed2511;
}
#ext_menu-98 .link[aria-expanded="true"],
#ext_menu-98 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-98 .nav-dropdown-sm .link:focus,
#ext_menu-98 .nav-dropdown-sm .link:hover,
#ext_menu-98 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-98 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-98 .navbar,
#ext_menu-98 .nav-dropdown-sm,
#ext_menu-98 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-98 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-98 .bg-color.transparent .link {
  color: #41a85f;
  transition: none;
}
#ext_menu-98 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-98 .bg-color.transparent.opened .link:hover,
#ext_menu-98 .bg-color.transparent.opened .link:focus {
  color: #ed2511;
}
#ext_menu-98 .link[aria-expanded="true"],
#ext_menu-98 .dropdown-item[aria-expanded="true"] {
  color: #ed2511!important;
}
#footer1-99 P {
  color: #ffffff;
}
#content5-9c .mbr-section-title,
#content5-9c p {
  color: #fff;
}
#content5-9c .mbr-section-title I {
  color: #faaf40;
  text-align: left;
  font-size: 25px;
}
#content5-9c .mbr-section-title SPAN {
  color: #e25041;
}
#ext_menu-9d .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-9d .navbar-caption {
  color: #ffffff;
}
#ext_menu-9d .navbar-toggler {
  color: #41a85f;
}
#ext_menu-9d .close-icon::before,
#ext_menu-9d .close-icon::after {
  background-color: #41a85f;
}
#ext_menu-9d .link,
#ext_menu-9d .dropdown-item {
  color: #41a85f;
}
#ext_menu-9d .link {
  font-size: 1.1rem;
}
#ext_menu-9d .dropdown-item,
#ext_menu-9d .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#ext_menu-9d .link:hover,
#ext_menu-9d .dropdown-item:hover,
#ext_menu-9d .link:focus,
#ext_menu-9d .dropdown-item:focus {
  color: #ed2511;
}
#ext_menu-9d .link[aria-expanded="true"],
#ext_menu-9d .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-9d .nav-dropdown-sm .link:focus,
#ext_menu-9d .nav-dropdown-sm .link:hover,
#ext_menu-9d .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-9d .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-9d .navbar,
#ext_menu-9d .nav-dropdown-sm,
#ext_menu-9d .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-9d .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-9d .bg-color.transparent .link {
  color: #41a85f;
  transition: none;
}
#ext_menu-9d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-9d .bg-color.transparent.opened .link:hover,
#ext_menu-9d .bg-color.transparent.opened .link:focus {
  color: #ed2511;
}
#ext_menu-9d .link[aria-expanded="true"],
#ext_menu-9d .dropdown-item[aria-expanded="true"] {
  color: #ed2511!important;
}
#footer1-9e P {
  color: #ffffff;
}
#content5-9h .mbr-section-title,
#content5-9h p {
  color: #fff;
}
#content5-9h .mbr-section-title I {
  color: #faaf40;
  text-align: left;
  font-size: 25px;
}
#content5-9h .mbr-section-title SPAN {
  color: #e25041;
}
#ext_menu-9i .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-9i .navbar-caption {
  color: #ffffff;
}
#ext_menu-9i .navbar-toggler {
  color: #41a85f;
}
#ext_menu-9i .close-icon::before,
#ext_menu-9i .close-icon::after {
  background-color: #41a85f;
}
#ext_menu-9i .link,
#ext_menu-9i .dropdown-item {
  color: #41a85f;
}
#ext_menu-9i .link {
  font-size: 1.1rem;
}
#ext_menu-9i .dropdown-item,
#ext_menu-9i .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#ext_menu-9i .link:hover,
#ext_menu-9i .dropdown-item:hover,
#ext_menu-9i .link:focus,
#ext_menu-9i .dropdown-item:focus {
  color: #ed2511;
}
#ext_menu-9i .link[aria-expanded="true"],
#ext_menu-9i .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-9i .nav-dropdown-sm .link:focus,
#ext_menu-9i .nav-dropdown-sm .link:hover,
#ext_menu-9i .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-9i .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-9i .navbar,
#ext_menu-9i .nav-dropdown-sm,
#ext_menu-9i .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-9i .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-9i .bg-color.transparent .link {
  color: #41a85f;
  transition: none;
}
#ext_menu-9i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-9i .bg-color.transparent.opened .link:hover,
#ext_menu-9i .bg-color.transparent.opened .link:focus {
  color: #ed2511;
}
#ext_menu-9i .link[aria-expanded="true"],
#ext_menu-9i .dropdown-item[aria-expanded="true"] {
  color: #ed2511!important;
}
#footer1-9j P {
  color: #ffffff;
}
#content5-9n .mbr-section-title,
#content5-9n p {
  color: #fff;
}
#content5-9n .mbr-section-title I {
  color: #faaf40;
  text-align: left;
  font-size: 25px;
}
#content5-9n .mbr-section-title SPAN {
  color: #e25041;
}
#ext_menu-9o .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-9o .navbar-caption {
  color: #ffffff;
}
#ext_menu-9o .navbar-toggler {
  color: #41a85f;
}
#ext_menu-9o .close-icon::before,
#ext_menu-9o .close-icon::after {
  background-color: #41a85f;
}
#ext_menu-9o .link,
#ext_menu-9o .dropdown-item {
  color: #41a85f;
}
#ext_menu-9o .link {
  font-size: 1.1rem;
}
#ext_menu-9o .dropdown-item,
#ext_menu-9o .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#ext_menu-9o .link:hover,
#ext_menu-9o .dropdown-item:hover,
#ext_menu-9o .link:focus,
#ext_menu-9o .dropdown-item:focus {
  color: #ed2511;
}
#ext_menu-9o .link[aria-expanded="true"],
#ext_menu-9o .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-9o .nav-dropdown-sm .link:focus,
#ext_menu-9o .nav-dropdown-sm .link:hover,
#ext_menu-9o .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-9o .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-9o .navbar,
#ext_menu-9o .nav-dropdown-sm,
#ext_menu-9o .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-9o .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-9o .bg-color.transparent .link {
  color: #41a85f;
  transition: none;
}
#ext_menu-9o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-9o .bg-color.transparent.opened .link:hover,
#ext_menu-9o .bg-color.transparent.opened .link:focus {
  color: #ed2511;
}
#ext_menu-9o .link[aria-expanded="true"],
#ext_menu-9o .dropdown-item[aria-expanded="true"] {
  color: #ed2511!important;
}
#footer1-9p P {
  color: #ffffff;
}
#content5-9t .mbr-section-title,
#content5-9t p {
  color: #fff;
}
#content5-9t .mbr-section-title I {
  color: #faaf40;
  text-align: left;
  font-size: 25px;
}
#content5-9t .mbr-section-title SPAN {
  color: #e25041;
}
#ext_menu-9u .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-9u .navbar-caption {
  color: #ffffff;
}
#ext_menu-9u .navbar-toggler {
  color: #41a85f;
}
#ext_menu-9u .close-icon::before,
#ext_menu-9u .close-icon::after {
  background-color: #41a85f;
}
#ext_menu-9u .link,
#ext_menu-9u .dropdown-item {
  color: #41a85f;
}
#ext_menu-9u .link {
  font-size: 1.1rem;
}
#ext_menu-9u .dropdown-item,
#ext_menu-9u .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#ext_menu-9u .link:hover,
#ext_menu-9u .dropdown-item:hover,
#ext_menu-9u .link:focus,
#ext_menu-9u .dropdown-item:focus {
  color: #ed2511;
}
#ext_menu-9u .link[aria-expanded="true"],
#ext_menu-9u .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-9u .nav-dropdown-sm .link:focus,
#ext_menu-9u .nav-dropdown-sm .link:hover,
#ext_menu-9u .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-9u .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-9u .navbar,
#ext_menu-9u .nav-dropdown-sm,
#ext_menu-9u .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-9u .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-9u .bg-color.transparent .link {
  color: #41a85f;
  transition: none;
}
#ext_menu-9u .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-9u .bg-color.transparent.opened .link:hover,
#ext_menu-9u .bg-color.transparent.opened .link:focus {
  color: #ed2511;
}
#ext_menu-9u .link[aria-expanded="true"],
#ext_menu-9u .dropdown-item[aria-expanded="true"] {
  color: #ed2511!important;
}
#footer1-9w P {
  color: #ffffff;
}
