@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);





body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Source Sans Pro', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Source Sans Pro', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Source Sans Pro', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Source Sans Pro', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #faaf40 !important;
}
.bg-success {
  background-color: #41a85f !important;
}
.bg-info {
  background-color: #3d8eb9 !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f3c649 !important;
}
.btn-primary {
  background-color: #faaf40;
  border-color: #faaf40;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #e78d06;
  border-color: #e78d06;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #e78d06 !important;
  border-color: #e78d06 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #3d8eb9;
  border-color: #3d8eb9;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #2a627f;
  border-color: #2a627f;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #2a627f !important;
  border-color: #2a627f !important;
}
.btn-success {
  background-color: #41a85f;
  border-color: #41a85f;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #2c7140;
  border-color: #2c7140;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2c7140 !important;
  border-color: #2c7140 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-primary-outline {
  background: none;
  border-color: #cf7d05;
  color: #cf7d05;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #faaf40;
  border-color: #faaf40;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #faaf40 !important;
  border-color: #faaf40 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #24536c;
  color: #24536c;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #3d8eb9;
  border-color: #3d8eb9;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #3d8eb9 !important;
  border-color: #3d8eb9 !important;
}
.btn-success-outline {
  background: none;
  border-color: #255e35;
  color: #255e35;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #41a85f;
  border-color: #41a85f;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #41a85f !important;
  border-color: #41a85f !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.text-primary {
  color: #faaf40 !important;
}
.text-success {
  color: #41a85f !important;
}
.text-info {
  color: #3d8eb9 !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f3c649 !important;
}
.alert-success {
  background-color: #41a85f;
}
.alert-info {
  background-color: #3d8eb9;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f3c649;
}
.btn-social {
  border-color: #faaf40;
}
.btn-social:hover {
  background: #faaf40;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #faaf40;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #faaf40;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #faaf40;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #faaf40;
}
.lead a,
.lead a:hover {
  color: #faaf40;
}
.lead blockquote {
  border-color: #faaf40;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #93d5a6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #98c5dd;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #faaf40;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#msg-box8-3l .mbr-section-title,
#msg-box8-3l p {
  color: #fff;
}
#msg-box8-3l .mbr-section-title {
  color: #e25041;
  font-size: 84px;
}
#msg-box8-3l .lead P {
  color: #f3c649;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}
#msg-box8-3l .btn {
  font-size: 16px;
}
#ext_menu-w .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-w .navbar-caption {
  color: #ffffff;
  font-size: 20px;
}
#ext_menu-w .navbar-toggler {
  color: #ffffff;
}
#ext_menu-w .close-icon::before,
#ext_menu-w .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-w .link,
#ext_menu-w .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-w .link {
  font-size: 1.2rem;
}
#ext_menu-w .dropdown-item,
#ext_menu-w .nav-dropdown-sm .link {
  font-size: 1.300rem;
}
#ext_menu-w .link:hover,
#ext_menu-w .dropdown-item:hover,
#ext_menu-w .link:focus,
#ext_menu-w .dropdown-item:focus {
  color: #faaf40;
}
#ext_menu-w .link[aria-expanded="true"],
#ext_menu-w .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-w .nav-dropdown-sm .link:focus,
#ext_menu-w .nav-dropdown-sm .link:hover,
#ext_menu-w .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-w .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-w .navbar,
#ext_menu-w .nav-dropdown-sm,
#ext_menu-w .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-w .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-w .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-w .bg-color.transparent.opened .link:hover,
#ext_menu-w .bg-color.transparent.opened .link:focus {
  color: #faaf40;
}
#ext_menu-w .link[aria-expanded="true"],
#ext_menu-w .dropdown-item[aria-expanded="true"] {
  color: #faaf40!important;
}
#ext_menu-w.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-w .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-w .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-3p .mbr-section-title,
#header3-3p .mbr-section-subtitle {
  text-align: center;
}
#header3-3p H3 {
  font-size: 36px;
  color: #e25041;
}
#header3-3p B {
  text-align: right;
  font-size: 22px;
  color: #2969b0;
}
#content5-54 .mbr-section-title,
#content5-54 p {
  color: #fff;
}
#ext_menu-55 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-55 .navbar-caption {
  color: #ffffff;
}
#ext_menu-55 .navbar-toggler {
  color: #41a85f;
}
#ext_menu-55 .close-icon::before,
#ext_menu-55 .close-icon::after {
  background-color: #41a85f;
}
#ext_menu-55 .link,
#ext_menu-55 .dropdown-item {
  color: #41a85f;
}
#ext_menu-55 .link {
  font-size: 1.1rem;
}
#ext_menu-55 .dropdown-item,
#ext_menu-55 .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#ext_menu-55 .link:hover,
#ext_menu-55 .dropdown-item:hover,
#ext_menu-55 .link:focus,
#ext_menu-55 .dropdown-item:focus {
  color: #faaf40;
}
#ext_menu-55 .link[aria-expanded="true"],
#ext_menu-55 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-55 .nav-dropdown-sm .link:focus,
#ext_menu-55 .nav-dropdown-sm .link:hover,
#ext_menu-55 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-55 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-55 .navbar,
#ext_menu-55 .nav-dropdown-sm,
#ext_menu-55 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-55 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-55 .bg-color.transparent .link {
  color: #41a85f;
  transition: none;
}
#ext_menu-55 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-55 .bg-color.transparent.opened .link:hover,
#ext_menu-55 .bg-color.transparent.opened .link:focus {
  color: #faaf40;
}
#ext_menu-55 .link[aria-expanded="true"],
#ext_menu-55 .dropdown-item[aria-expanded="true"] {
  color: #faaf40!important;
}
#footer1-56 P {
  color: #ffffff;
}
#features3-57 P {
  text-align: right;
}
#features3-58 P {
  text-align: right;
}
#ext_menu-5l .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-5l .navbar-caption {
  color: #ffffff;
}
#ext_menu-5l .navbar-toggler {
  color: #41a85f;
}
#ext_menu-5l .close-icon::before,
#ext_menu-5l .close-icon::after {
  background-color: #41a85f;
}
#ext_menu-5l .link,
#ext_menu-5l .dropdown-item {
  color: #41a85f;
}
#ext_menu-5l .link {
  font-size: 1.2rem;
}
#ext_menu-5l .dropdown-item,
#ext_menu-5l .nav-dropdown-sm .link {
  font-size: 1.300rem;
}
#ext_menu-5l .link:hover,
#ext_menu-5l .dropdown-item:hover,
#ext_menu-5l .link:focus,
#ext_menu-5l .dropdown-item:focus {
  color: #faaf40;
}
#ext_menu-5l .link[aria-expanded="true"],
#ext_menu-5l .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-5l .nav-dropdown-sm .link:focus,
#ext_menu-5l .nav-dropdown-sm .link:hover,
#ext_menu-5l .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-5l .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-5l .navbar,
#ext_menu-5l .nav-dropdown-sm,
#ext_menu-5l .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-5l .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-5l .bg-color.transparent .link {
  color: #41a85f;
  transition: none;
}
#ext_menu-5l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-5l .bg-color.transparent.opened .link:hover,
#ext_menu-5l .bg-color.transparent.opened .link:focus {
  color: #faaf40;
}
#ext_menu-5l .link[aria-expanded="true"],
#ext_menu-5l .dropdown-item[aria-expanded="true"] {
  color: #faaf40!important;
}
#header3-5m .mbr-section-title,
#header3-5m .mbr-section-subtitle {
  text-align: center;
}
#header3-5m H3 {
  color: #41a85f;
  text-align: right;
}
#footer1-5r P {
  color: #ffffff;
}
#ext_menu-43 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-43 .navbar-caption {
  color: #ffffff;
}
#ext_menu-43 .navbar-toggler {
  color: #41a85f;
}
#ext_menu-43 .close-icon::before,
#ext_menu-43 .close-icon::after {
  background-color: #41a85f;
}
#ext_menu-43 .link,
#ext_menu-43 .dropdown-item {
  color: #41a85f;
}
#ext_menu-43 .link {
  font-size: 1.2rem;
}
#ext_menu-43 .dropdown-item,
#ext_menu-43 .nav-dropdown-sm .link {
  font-size: 1.300rem;
}
#ext_menu-43 .link:hover,
#ext_menu-43 .dropdown-item:hover,
#ext_menu-43 .link:focus,
#ext_menu-43 .dropdown-item:focus {
  color: #faaf40;
}
#ext_menu-43 .link[aria-expanded="true"],
#ext_menu-43 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-43 .nav-dropdown-sm .link:focus,
#ext_menu-43 .nav-dropdown-sm .link:hover,
#ext_menu-43 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-43 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-43 .navbar,
#ext_menu-43 .nav-dropdown-sm,
#ext_menu-43 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-43 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-43 .bg-color.transparent .link {
  color: #41a85f;
  transition: none;
}
#ext_menu-43 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-43 .bg-color.transparent.opened .link:hover,
#ext_menu-43 .bg-color.transparent.opened .link:focus {
  color: #faaf40;
}
#ext_menu-43 .link[aria-expanded="true"],
#ext_menu-43 .dropdown-item[aria-expanded="true"] {
  color: #faaf40!important;
}
#header3-5k .mbr-section-title,
#header3-5k .mbr-section-subtitle {
  text-align: center;
}
#header3-5k H3 {
  color: #2969b0;
  text-align: right;
}
#footer1-48 P {
  color: #ffffff;
}
#ext_menu-5s .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-5s .navbar-caption {
  color: #ffffff;
}
#ext_menu-5s .navbar-toggler {
  color: #41a85f;
}
#ext_menu-5s .close-icon::before,
#ext_menu-5s .close-icon::after {
  background-color: #41a85f;
}
#ext_menu-5s .link,
#ext_menu-5s .dropdown-item {
  color: #41a85f;
}
#ext_menu-5s .link {
  font-size: 1.2rem;
}
#ext_menu-5s .dropdown-item,
#ext_menu-5s .nav-dropdown-sm .link {
  font-size: 1.300rem;
}
#ext_menu-5s .link:hover,
#ext_menu-5s .dropdown-item:hover,
#ext_menu-5s .link:focus,
#ext_menu-5s .dropdown-item:focus {
  color: #faaf40;
}
#ext_menu-5s .link[aria-expanded="true"],
#ext_menu-5s .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-5s .nav-dropdown-sm .link:focus,
#ext_menu-5s .nav-dropdown-sm .link:hover,
#ext_menu-5s .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-5s .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-5s .navbar,
#ext_menu-5s .nav-dropdown-sm,
#ext_menu-5s .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-5s .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-5s .bg-color.transparent .link {
  color: #41a85f;
  transition: none;
}
#ext_menu-5s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-5s .bg-color.transparent.opened .link:hover,
#ext_menu-5s .bg-color.transparent.opened .link:focus {
  color: #faaf40;
}
#ext_menu-5s .link[aria-expanded="true"],
#ext_menu-5s .dropdown-item[aria-expanded="true"] {
  color: #faaf40!important;
}
#header3-5t .mbr-section-title,
#header3-5t .mbr-section-subtitle {
  text-align: center;
}
#header3-5t H3 {
  color: #b8312f;
  text-align: right;
}
#footer1-5y P {
  color: #ffffff;
}
